#jsblogit {
}

#jsblogit.fade-in {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -moz-opacity: 0.0;
  -khtml-opacity: 0.0;
  opacity: 0.0;
  font-size: 21px;
}

#jsblogit main {
  display: block;
  margin: 0 auto 0 auto;
  max-width: 26.5em;
}

#jsblogit main section {
  padding: 0 21px;
}

#jsblogit main section article {
  margin: 4em 0 0 0;
}

#jsblogit main section article p {
  padding: 0px 8px 3px 3px;
  line-height: 2em;
}

#jsblogit main section article p a {
  color: #0690D6;
  text-decoration: none;
  padding: 0 0 0 0;
  font-style: normal;
  font-weight: 100;
  font-size: inherit;
}

#jsblogit main section article p a:hover {
  color: #0660A6;
  text-decoration: underline;
}


#jsblogit main section article p em {
  font-style: normal;
  font-size: inherit;
}

#jsblogit main section article p strong {
  font-weight: 400;
  font-size: inherit;
}

#jsblogit main section article section.meta {
  padding: 0;
}

#jsblogit main section article section.meta .title {
  display: block;
  margin: 0 0 19px 0;
  font-size: 1.4em;
  line-height: 1.48em;
}

#jsblogit main section article section.meta .attribution {
  display: inline;
  font-size: 0.84em;
  font-weight: 400;
  margin: 0 0 0 3px;
}

#jsblogit main section article section.meta .attribution:after {
  display: inline;
  content: ' - ';
  margin: 0 2px 0 2px;
}

#jsblogit main section article section.meta .published {
  display: inline;
  font-size: 0.75em;
}

#jsblogit main section article .body {
  margin: -5px 0 0 0;
}
